{% extends "base_site.html" %}
{% load i18n %}

{% block breadcrumb %}Login form{% endblock breadcrumb %}
{% block content %}
{% if error_message %}
<p class="errornote">{{ error_message }}</p>
{% endif %}
<div id="content-main">
<form method="post" id="login-form">
  <div class="form-row">
	<label for="id_{{ form.username.name }}">{{ form.username.label }}</label> {{ form.username }} {{ form.errors.username }}
  </div>
  <div class="form-row">
    <label for="id_{{ form.password.name }}">{{ form.password.label }}</label> {{ form.password }} {{ form.errors.password }}
  </div>
  <div class="form-row">
	<label for="id_{{ form.remember.name }}">{{ form.remember.label }}</label> {{ form.remember }} {{ form.errors.remember }}
  </div>
  <div class="submit-row">
    <label>&nbsp;</label><input type="submit" value="Ok" />
  </div>
  <p><a href="/lostpw/">{% trans "Help, I lost my password" %}</a></p>
</form>

<script type="text/javascript">
document.getElementById('id_email').focus()
</script>
{% endblock content %}
