/* DASHBOARD */

.dashboard .module table th {
    width: 100%;
}

.dashboard .module table td {
    white-space: nowrap;
}

.dashboard .module table td a {
    display: block;
    padding-right: .6em;
}

/* RECENT ACTIONS MODULE */

.module ul.actionlist {
    margin-left: 0;
}

ul.actionlist li {
    list-style-type: none;
}

/* CALENDAR */

.calendar {
	text-align: center;
    float: right;
    margin-right: 1em;
}

.calendar th {
    text-align: center;
}

.calendar td.today {
	font-weight: bold;
	border: 2px solid black;
	background: #ffc;
}

.calendar td.deadline {
	background: #eee;
    font-weight: bold;
}

.calendar td.deadline a {
    text-decoration: underline;
    color: red;
}

.calendar td.event {
	background: #eee;
    font-weight: bold;
}

.calendar td.event a {
    text-decoration: underline;
    color: green;
}

.valide {
    color: green;
}

/* TABLES */

table.tabcours {
	border-collapse:collapse; 
	border-color:#ccc;
	line-height: 1.2em;
	color: black;
}

table.tabcours td a {
	color: #339;
}

table.tabcours td a:hover {
	font-weight: bold;
}

table.tabcours tr:hover {background: #d8fff9;}

td, th {
	border-bottom: 1px solid #bbb; 
	padding: 5px;
	text-align: left;
	vertical-align: top;
	font-size: 12px;
	line-height: 1.2em;
}
thead th { 
    cursor: pointer;
	padding: 5px; 
	background: #ddd4cd; 
    color: black;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
    letter-spacing: 2px;
	font-size: 12px;
}

.even { background: #e4ffd8; }
