/* DASHBOARD */

.dashboard .module table th {
    width: 100%;
}

.dashboard .module table td {
    white-space: nowrap;
}

.dashboard .module table td a {
    display: block;
    padding-right: .6em;
}

/* RECENT ACTIONS MODULE */

.module ul.actionlist {
    margin-left: 0;
}

ul.actionlist li {
    list-style-type: none;
}

/* CALENDAR */

.calendar {
	text-align: center;
    float: right;
    margin-right: 1em;
}

.calendar th {
    text-align: center;
}

.calendar td.today {
	font-weight: bold;
	border: 2px solid black;
	background: #ffc;
}

.calendar td.deadline {
	background: #eee;
    font-weight: bold;
}

.calendar td.deadline a {
    text-decoration: underline;
    color: red;
}

.calendar td.event {
	background: #eee;
    font-weight: bold;
}

.calendar td.event a {
    text-decoration: underline;
    color: green;
}

.valide {
    color: green;
}
