/* DASHBOARD */

a:link, a:visited {
    color: #339;
}

.dashboard .module table th {
    width: 100%;
}

.dashboard .module table td {
    white-space: nowrap;
}

.dashboard .module table td a {
    display: block;
    padding-right: .6em;
}

/* RECENT ACTIONS MODULE */

.module ul.actionlist {
    margin-left: 0;
}

ul.actionlist li {
    list-style-type: none;
}

/* TABLES */

table.tabcours {
	border-collapse:collapse; 
	border-color:#ccc;
	line-height: 1.2em;
	color: black;
}

table.tabcours td a {
	color: #339;
}

table.tabcours td a:hover {
	font-weight: bold;
}

table.tabcours tr:hover {background: #d8fff9;}

table.tabcours td,
table.tabcours th {
	border-bottom: 1px solid #bbb; 
}

td, th {
	padding: 5px;
	text-align: left;
	vertical-align: top;
    font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 1.2em;
}
thead th { 
    cursor: pointer;
	padding: 5px; 
	background: #ddd4cd; 
    color: black;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
    letter-spacing: 2px;
	font-size: 12px;
}

.even { background: #e4ffd8; }

/* CALENDAR */

table.calendar {
	text-align: center;
    float: right;
    margin-right: 1em;
}

table.calendar th,
table.calendar td {
    text-align: center;
}

table.calendar td.today {
	border: 2px solid black;
	font-weight: bold;
	background: #ffc;
}

table.calendar td.deadline {
	background: #eee;
    font-weight: bold;
}

table.calendar td.deadline a {
    text-decoration: underline;
    color: red;
}

table.calendar td.event {
	background: #eee;
    font-weight: bold;
}

table.calendar td.event a {
    text-decoration: underline;
    color: green;
}

.valide {
    color: green;
}

/* LISTES */

ul {
	line-height: 1.7;
	margin: 1em 0;
}

li {
    font-size: 100%;
	line-height: 1.7;
	padding: 0;
}

/* OTHER */

.colorbox {
	margin: 1em;
	padding: 1em;
	border: 1px solid black;
    background: #ffc;
}

.bold {
	font-weight: bold;
}

.red {
	font-weight: bold;
	color: red;
}
