/* Feuille de style du site eMaster */

/* SUPPORTS */

div.chapter {
    text-align: justify;
	color: black;
    margin: 2% 6% 1% 3em;
	padding: 0.5em;
    max-width: 60em;
    width:expression(
        document.body.clientWidth > (500/12) *
        parseInt(document.body.currentStyle.fontSize)?
            "60em":
            "auto" );
}

div.chapter h3 a,
div.chapter h4 a,
div.chapter h5 a {
	color: #339;
}

div.chapter h3 {
	font-size: 165%;
    padding-left: 1em;
    text-align: left;
    line-height: 1.8;
    border-style: solid none solid none;
	border-color: #339;
    border-width: 1px;
    background: #e4ffd8;
}

div.chapter h4 {
	font-size: 140%;
    padding-left: 1em;
    text-align: left;
    border-style: none none solid solid;
	border-color: #339;
    border-width: 1px;
}

div.chapter h5 {
	font-size: 120%;
    padding-left: 1em;
    text-transform: none;
	letter-spacing: normal;
}

div.chapter h6 {
    color: #339;
    font-weight: bold;
    font-size: 12px;
}

div.chapter p,
div.chapter ol,
div.chapter dl,
div.chapter ul {
	line-height: 1.7;
	margin: 1em 0;
}

div.chapter ul li,
div.chapter dl dt,
div.chapter dl dd,
div.chapter ol li {
    font-size: 100%;
	line-height: 1.7;
	padding: 0;
}

div.exemple {
    background: #e4ffd8;    
    padding: 0.5em 1.5em;
    border-left: 2px solid #d2ddcd; 
    margin-top: 1em;
}

.exemple p:first-child {
    color: #555;
    font-weight: bold;
}

.exemple table {
    background: #eef;
    width: 95%;
    margin: auto;
}

.equation {
    margin: auto;
    padding: 0.5em 1em;
    width: 80%;
    background: #eef;
    border: 1px solid #669;
}

.equation img {
    text-align: center;
    padding: 0 3em;
}

.equation p.titre {
    margin-top: 0;
    padding: 0;
    text-align: left;
    font-weight: bold;
    color: #3d0099;
}

/* TABLES */
table {
	border-collapse:collapse; 
	border-color:#ccc;
	line-height: 1.2em;
    width: 80%;
}
tr:hover {background: #d8fff9;}
td, th {
	border-bottom: 1px solid #bbb; 
	padding: 5px;
	text-align: left;
	vertical-align: top;
	font-size: 12px;
	line-height: 1.2em;
}
thead th { 
    cursor: pointer;
	padding: 5px; 
	background: #ddd4cd; 
    color: black;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
    letter-spacing: 2px;
	font-size: 12px;
}

